<form [formGroup]="form">
  <lib-text-input formControlName="testInput"></lib-text-input>
  {{form.get('testInput')?.value}}
  <lib-select [options]="options"  formControlName="select" (selectChange)="selectChange($event)"></lib-select>
  {{form.get('select')?.value}}
</form>


<lib-button class="button-success" (buttonClick)="addFavorite()">
  新增到我的最愛
  <i class="fa-solid fa-plus"></i>
</lib-button>

<lib-button class="button-error">
  從我的最愛移除
  <i class="fa-solid fa-trash-can"></i>
</lib-button>

<lib-travel-list></lib-travel-list>

<lib-pagination></lib-pagination>
