<h1 class="page-title">查詢頁面</h1>

<div class="search-area">
  <lib-select
    [options]="options"
    [formControl]="categoryIdFormControl"
  ></lib-select>
  <lib-button class="button-success add-button" (buttonClick)="addFavorite()">
    新增到我的最愛 ( 已選擇：{{ selectedTravelList.length }} ) 項
    <i class="fa-solid fa-plus"></i>
  </lib-button>
</div>

<lib-travel-list
  [(selectedTravelList)]="selectedTravelList"
  [travelData]="travelData"
></lib-travel-list>

<lib-pagination
  [(currentPage)]="currentPage"
  [totalItems]="total"
  [itemsPerPage]="itemsPerPage"
  (pageChange)="pageChange()"
></lib-pagination>
